@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import 'reset.css';
@import 'variables.css';

/*components*/
@import 'components/status-bar.css';

/*screens*/
@import 'screens/login.css';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fae10070;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrapper {
    background-color: white;
    width: 650px;
    height: 1156px;
}
